@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

body {
    background-color: #2d3347;
    color: #2d3347;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#heading {
    margin-top: 30px;
    text-align: center;
}

#heading img {
    height: 3em;
}

/* Home page design */

#home-area {
    margin: 30px auto;
    height: 400px;
    width: 60%;
    min-width: 600px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, #f8f8f8, #2d3347);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#home-area h2{
    width: 100%;
    text-align: center;
    color: #2d3347;
    font-family: 'Opem Sans', sans-serif;
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 2px;
}    

#play-button {
    width: 200px;
    height: 75px;
    border: 2px solid #f8f8f8;
    background-color: #2d3347;
    color: #f8f8f8;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
}

#play-button:hover {
    background-color: #f8f8f8;
    color: #2d3347;
    border: 3px solid #2d3347;
    font-weight: bolder;
    cursor: pointer;
    transition: transform 150ms;
    transform: scale(1.05);
}

/* Quiz page */

.button-class {
    width: 45%;
    height: 100px;
    margin: 0 10px;
    border-radius: 5px;
    border: 3px solid #98c244;
    box-shadow: 1px 1px #2d3347;
}

.button-class:hover {
    background-color: #f8f8f8;
    color: #2d3347;
}

/* Button links at bottom of page */

#links {
    width: 98%;
    padding: 30px 0;
    text-align: center;
    margin: 0 auto;
}

.fab, .fas {
    color: #98c244;
    letter-spacing: 20px;
    font-size: 1.8rem;
    margin: 0 auto;
}

@media only screen and (max-width: 684px) {

    #game-area {
        height: 500px;
        min-width: 450px;
    }

    #links {
        padding: 20px 0;
    }
}

@media only screen and (max-width: 540px) {

    #game-area {
        height: 500px;
        min-width: 400px;
    }

    #game-area p {
        padding: 0 15px;
    }

@media only screen and (max-width: 460px) {

        #game-area {
            height: 700px;
            width: 20px;
        }
    
        .button-class {
            margin: 5px 20px;
        }

        #links {
            padding: 5px 0;
        }
